$header-width: 288px;

.app-layout {

  > .page-wrapper {
    padding-top: spacing(4);
    padding-bottom: spacing(4);
  }

  @include above(m) {
    display: flex;

    > .main-header {
      width: $header-width;
      height: 100vh;
      position: fixed;
    }

    > .page-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: $header-width;
      padding-top: spacing(6);
      padding-bottom: spacing(6);
      width: 100%
    }
  }
}