.button {
  background-color: $primary-color;
	border-radius: 30px;
	border: 0;
	box-sizing: border-box;
	color: #fff;
  display: flex;
  align-items: center;
	font-size: toRem(16px);
	font-weight: 700;
	justify-content: center;
	transition: all .3s ease;
	z-index: 1;
	padding: 20px;
	min-height: 60px;
	min-width: 180px;
  outline: none;
  cursor: pointer;

	&:hover, &:focus {
		background-color: lighten($primary-color, 10%);
		box-shadow: 0 3px 12px rgba($primary-color, .6);
	}

	&.disabled,
	&[aria-disabled="true"] {
		background-color: $light-gray;
		border: none;
		color: $dark-gray;
		pointer-events: none;
		user-select: none;
		box-shadow: unset;
  }
  
  &.-raw {
    background-color: unset;
    color: $dark-gray;
    padding-left: 0;
    padding-right: 0;
    min-width: unset;

    &:hover, &:focus {
      background-color: unset;
      box-shadow: none;
    }
  }

	.icon {
		display: none;
	}
}